extends ../../shared/adminlayout


block content
  .card
    .card-header
        h4#heading-icon.card-title Lista de Presentacion
        .heading-elements
                  ul.list-inline.mb-0
                    li
                      a.btn.btn-info(type='button' href='/admin/presentacion/create')
                        i.feather.icon-plus-square
                        | Crear Presentacion
    .card-body
      table.table.table-striped.table-bordered.server-side
        thead
          tr
            th Id
            th Nombre
            th Codigo
            th Acciones 
  script(src="/javascripts/presentacion/datatablePresentacion.js")
