extends ../../shared/layoutAdmin

block content
  .container-fluid.contenedor.contenedorVista
    .card
      .card-header
        .row
          .col-md-10
            h4 Lista de usuarios
          .col-md-2
            a.btn.btn-light(type='button' href='/admin/users/create')
             i.fas.fa-plus-square 
              | Crear Usuario
      .card-body
        table#example.display(style='width:100%')
          thead
            tr
              th Id
              th Nombre
              th Apellido
              th Email 
              th Acciones      
          tfoot
            tr
              th Id      
              th Nombre
              th Apellido
              th Email
              th Acciones        
  script(src="/javascripts/usuario/datatable.js")