extends ../../shared/adminlayout


block content
    .card
        .card-header
            h4#basic-layout-square-controls.card-title Carga de Categoria
            .heading-elements
                a.btn.btn-warning.mr-1(type='button' href='/admin/categoria/grilla')
                        i.feather.icon-arrow-left
                        |  Volver
        .card-content.collapse.show
            .card-body
                form(action = "/admin/categoria/create", method = "POST")
                    .row
                        .col-4
                            .form-group
                            label(for='exampleInputEmail1') Nombre
                            input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp' placeholder='Categoria' name='name' value= categoria!=''?categoria.name:'')
                        .col-4
                            .form-group
                            label(for='exampleInputEmail1') Color
                            input#exampleInputEmail1.form-control(type='color' aria-describedby='emailHelp' placeholder='Color' name='color' value= categoria!=''?categoria.color:'')
                        //- .col-4
                        //-     .form-group
                        //-         label(for='exampleFormControlSelect1') Fragancias
                        //-         select#exampleFormControlSelect1.form-control(name='fragancias' multiple)
                        //-             option(value=0) Seleccione una categoria 
                        //-             each val in fragancias
                        //-                 option(value=val._id) #{val.name}
                    .form-actions.left
                        button.btn.btn-primary(type='submit')
                            i.fa.fa-check-square-o
                            |  Guardar